# =============== #
# Unity generated #
# =============== #
Temp/
Library/
Output/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.pdb
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
*.sdf
*.VC.opendb
*.nvuser

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
*.lnk
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Desktop.ini